
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<header>
    <div class="logo">
        <h1><a [routerLink]="['/home']">NOTES4UNICAL</a></h1>
    </div>
    <nav>
        <div class="toggle-container">
            <label class="switch">
                <input type="checkbox" class="switch-input" (change)="toggleTheme($event)">
                <span class="slider">
                    <i class="bi bi-sun-fill sun-icon"></i>
                    <i class="bi bi-moon-fill moon-icon"></i>
                </span>
            </label>
        </div>
        <a [routerLink]="['/preferiti']">Preferiti ⭐️</a>
        <a [routerLink]="['/profilo']">Profilo 👤</a>
        <a [routerLink]="['/login']">Login 🚪</a>
    </nav>
</header>