body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.document-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.document-container {
    background: white;
    border-radius: 12px;
    padding: 25px;
    width: 420px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.document-container h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

.document-details {
    background: #f1f1f1;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.document-details p {
    margin: 30px 0;
    font-size: 1.2rem;
    color: #555;
}

label {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
}

input {
    display: none;
}

input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
}

@keyframes heartButton {
    0%, 50%, 100% {
        transform: scale(1);
    }
    25%, 75% {
        transform: scale(1.3);
    }
}

input + label .action {
    position: relative;
    overflow: hidden;
    display: grid;
}

input + label .action span {
    grid-column: 1;
    grid-row: 1;
    transition: all .5s;
}

input + label .action span.option-1 {
    transform: translate(0px,0%);
    opacity: 1;
}

input:checked + label .action span.option-1 {
    transform: translate(0px,-100%);
    opacity: 0;
}

input + label .action span.option-2 {
    transform: translate(0px,100%);
    opacity: 0;
}

input:checked + label .action span.option-2 {
    transform: translate(0px,0%);
    opacity: 1;
}


.download-button, .home-button {
    display: inline-block;
    width: 50%;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.1rem;
    transition: background 0.3s ease;
    margin-top: 20px;
}

.download-button {
    background: #800020;
    color: white;
}

.download-button:hover {
    background: #a5031e;
    box-shadow: 0 5px 15px rgba(217, 4, 41, 0.3);
}

.home-button {
    background: #0f6691;
    color: white;
}

.home-button:hover {
    background: #1b4332;
    box-shadow: 0 5px 15px rgba(39, 184, 119, 0.3);
}


