<div class="login-container">
    <div class="login-left">
      <h1>LOGIN</h1>
      <h4>È un piacere rivederti!</h4>

      <form>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="std01@studenti.unical.it">
        <p></p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="********">
        <p></p>
        <button type="submit" class="btn btn-signin">Login</button>
      </form>
      <p>Non hai un account? <a href="/registration">Registrati</a></p>
    
    </div>
</div>
