<div class="login-container">
    <div class="login-left">
      <h2>LOGIN</h2>
      <h4>È un piacere rivederti!</h4>

      <form>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="abc123@studenti.unical.it">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="********">
        <button type="submit" class="btn btn-signin">Login</button>
      </form>
      <p>Non hai un account? <a href="/registration">Registrati</a></p>
    
    </div>
</div>
