<div class="change-password-container">
  <h2>Modifica Password</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
    
    <input
      type="password"
      formControlName="newPassword"
      placeholder="Cambia Password"
      required
    />
    <div
      *ngIf="
        passwordForm.controls.newPassword.invalid &&
        (passwordForm.controls.newPassword.dirty || passwordForm.controls.newPassword.touched)
      "
      class="error-message"
    >
      <div *ngIf="passwordForm.controls.newPassword.errors?.required">La password è obbligatoria.</div>
      <div *ngIf="passwordForm.controls.newPassword.errors?.minlength">La password deve essere di almeno 8 caratteri.</div>
      <div *ngIf="passwordForm.controls.newPassword.errors?.maxlength">La password non può superare i 16 caratteri.</div>
    </div>
    
    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Conferma Password"
      required
    />
    <div
      *ngIf="
        passwordForm.controls.confirmPassword.invalid &&
        (passwordForm.controls.confirmPassword.dirty || passwordForm.controls.confirmPassword.touched)
      "
      class="error-message"
    >
      <div *ngIf="passwordForm.controls.confirmPassword.errors?.required">La conferma della password è obbligatoria.</div>
    </div>
    
    <div
      *ngIf="passwordForm.hasError('passwordsMismatch') && (passwordForm.dirty || passwordForm.touched)"
      class="error-message"
    >
      Le password non coincidono.
    </div>

    <button type="submit">Cambia</button>
  </form>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
