.change-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #800020;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a5031e;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.error-message.passwords-mismatch {
  color: orange; /* Differenziamo il colore per il mismatch delle password */
}
