<div class="profile-container">
    <!-- Sezione sinistra -->
    <div class="left-section">
      <div class="profile-image-container">
        <img src="path/to/profile.jpg" alt="Profile Picture" class="profile-image">
      </div>
      <div class="name-container">
        <span class="name">{{ user.name }} {{ user.surname }}</span>
      </div>
      <div class="buttons-container">
        <button (click)="changePic($event)" class="profile-button">Change Picture</button>
        <button class="profile-button"><a [routerLink]="['/change-password']">Change Password</a></button>
        <button (click)="auth.logout()" class="profile-button">Logout</button>
      </div>
    </div>
  
    <!-- Sezione destra -->
    <div class="right-section">
      <div class="section-container">
        <h3>Message</h3>
        <p>Some content about messages...</p>
      </div>
      <div class="section-container">
        <h3>Documents</h3>
        <p>Some content about documents...</p>
      </div>
      <div class="section-container">
        <h3>Favorites</h3>
        <p>Some content about favorites...</p>
      </div>
    </div>
  </div>
  